body {
  background-color: #0096c7;
}
.page {
  width: 80%;
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
  background-color: #0096c7;
  border-radius: 5px;
}
body {
  font: 14px/26px 'Lato', sans-serif;
  color: #222;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
header{
  font-size: 24px;
  line-height: 48px;
}
h4 {
  color: #2A2A72;
  font: 21px 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}
h4 #clock {
  color: #FFA400;
  font-size: 26px;
  display: block;
  padding: 5px 0px;
}
h1 {
  color: #2A2A72;
  font: 50px 'Luckiest Guy', cursive;
  text-shadow: 3px 3px white;
  
}

blockquote {
  color: #FFA400;
  font: 2.5em/1em 'Luckiest Guy', cursive;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px #2A2A72;
  margin: -80px 0 100px 0;
  
}

blockquote:before { content: '"'; }
blockquote:after { content: '"'; }

#main-image {
  margin: 0 auto;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 10px;
  border:10px solid #2A2A72;
  height: auto;
  width: 500px;
}
#wakeUpTimeSelector, #lunchTimeSelector, #napTimeSelector {
  padding: 10px 0;
}
#partyTimeButton {
  background-color: #FFA400;
  width: 300px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 20px;
}

footer p {
  text-transform: uppercase;
  font-size: 12px;
}
